{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Zaloguj się {% endblock %}

{% block strona %}
    <div class="card text-white bg-dark mb-3 border-primary mb-3" style="width: 26rem;">
      <div class="card-body">
        <h5 class="card-title">Zaloguj się</h5>
            <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-secondary">Zaloguj <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            </form>
      </div>
    </div>
{% endblock %}}